.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.myModalContent {
    padding: 25px;
    background: #0D0D0D;
    border-radius: 16px;
    min-width: 250px;
    color: white;
    font-size: 20px;
    position: relative;
}

.myModal.active {
 display: flex;
    justify-content: center;
    align-items: center;
}